/*
0 - 600px:        Phone
600 - 900px:      Tablet Portrait
900 - 1200px:     Tablet Landscape
[1200 - 1800px]:  Desktop - Where Normal Styles Apply
1800px + :        Big Desktop
*/
/*
$breakpoint argument choices: 
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px;


ORDER [When refactoring for responsiveness]: Base + typography > general layout + grid > page layout > components
*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
}

.heading {
  font-size: clamp(4rem, 5vw, 5.6rem);
  letter-spacing: 0;
  font-weight: 700;
  line-height: 120%;
}

.sub-heading {
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  line-height: 150%;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 140%;
}

.upper-text {
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.label {
  font-weight: 700;
}

input {
  font-family: inherit;
  line-height: 28px;
}

.blue {
  color: #5175ff;
}

.white {
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Default browser font size is 16px. This gives you 10px baseline, making it easier to calculate rems*/
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

section {
  width: 100%;
  max-width: 1180px;
  padding: 0px 40px;
}

.hero__left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 51%;
  max-width: 540px;
  min-width: 345px;
}
.hero__title {
  color: #25293a;
}
.hero__sub-title {
  color: #747b95;
}
.hero__right {
  width: 43%;
  min-width: 280px;
  max-width: 475px;
}
.hero__image {
  width: 100%;
  height: auto;
  transform: translateY(2.5vw);
}

.button {
  width: 170px;
  height: 50px;
  border-radius: 999px;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 160%;
  border: 0;
  cursor: pointer;
}
.button--blue {
  background-color: #5175ff;
  color: #fff;
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.25);
}
.button--blue:hover {
  background-color: #829cff;
  box-shadow: none;
}
.button--blue:focus {
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #5175ff;
  outline: none;
}
.button--light-blue {
  background-color: #e4eaff;
  color: #5175ff;
}
.button--light-blue:hover {
  background-color: #5175ff;
  color: #fff;
}
.button--light-blue:focus {
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #e4eaff;
  outline: none;
}
.button--white {
  background-color: #fff;
  color: #5175ff;
}
.button--white:hover {
  background-color: #e4eaff;
}
.button--white:focus {
  box-shadow: 0 0 0 3px #5175ff, 0 0 0 5px #fff;
  outline: none;
}

.card {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 40px 20px;
  border-radius: 12px;
  color: #333950;
}
.card__plan {
  width: 100%;
  text-align: center;
}
.card__price {
  text-align: center;
}
.card__details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #747b95;
  align-items: center;
  text-align: center;
}
.card[data-color=white] {
  background-color: #fff;
}
.card[data-color=blue] {
  background-color: #5175ff;
}
.card[data-color=blue] :is(.card__details, .card__price, .card__plan) {
  color: #fff;
}

.countdown__container {
  display: flex;
  gap: 16px;
}
.countdown__timer-card {
  background-color: #333950;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100px;
  padding: 16px 12px;
}
.countdown__timer-card :is(.label) {
  opacity: 0.5;
}

.home-page {
  background-color: #fafafa;
}
.home-page .logo {
  display: block;
}
.home-page .main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 140px;
  padding-top: 80px;
  position: relative;
  overflow: hidden;
}
.home-page .main::after {
  content: "";
  position: absolute;
  width: clamp(666px, 666px + 0.69 * (100vw - 768px), 1134px);
  height: clamp(666px, 666px + 0.69 * (100vw - 768px), 1134px);
  right: clamp(-359px, -274px - 0.126 * (100vw - 768px), -274px);
  top: clamp(-420px, -158px - 0.39 * (100vw - 768px), -158px);
  background: url(../assets/home/bg-pattern-header.svg);
  background-size: cover;
  z-index: -1;
}
.home-page .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-page .pricing {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.home-page .pricing__card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.home-page .countdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=main.css.map */