.button {
  width: 170px;
  height: 50px;

  border-radius: $radius-full;
  font-family: "Kumbh Sans", sans-serif;
  font-size: $default-font-size;
  font-weight: 700;
  line-height: 160%;
  border: 0;

  cursor: pointer;

  &--blue {
    background-color: $blue-500;
    color: $neutral-0;
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.25);

    &:hover {
      background-color: $blue-300;
      box-shadow: none;
    }

    &:focus {
      box-shadow: 0 0 0 3px $neutral-0, 0 0 0 5px $blue-500;
      outline: none;
    }
  }

  &--light-blue {
    background-color: $blue-100;
    color: $blue-500;

    &:hover {
      background-color: $blue-500;
      color: $neutral-0;
    }

    &:focus {
      box-shadow: 0 0 0 3px $neutral-0, 0 0 0 5px $blue-100;
      outline: none;
    }
  }

  &--white {
    background-color: $neutral-0;
    color: $blue-500;

    &:hover {
      background-color: $blue-100;
    }

    &:focus {
      box-shadow: 0 0 0 3px $blue-500, 0 0 0 5px $neutral-0;
      outline: none;
    }
  }

  &--submit {
    background-color: $blue-500;
    color: $neutral-0;
    width: 100%;

    &:hover {
      background-color: $blue-300;
      box-shadow: none;
    }

    &:focus {
      box-shadow: 0 0 0 3px $neutral-0, 0 0 0 5px $blue-500;
      outline: none;
    }
  }
}
