.card {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;

  gap: $spacing-500;
  align-items: center;
  padding: $spacing-500 $spacing-250;
  border-radius: $radius-12;

  color: $neutral-800;

  @include respond(xl-phone) {
    padding: $spacing-500 $spacing-300;
    gap: $spacing-600;
  }

  &__plan {
    width: 100%;
    text-align: center;
    padding-bottom: $spacing-500;

    @include respond(xl-phone) {
      padding-bottom: $spacing-200;
    }
  }

  &__price {
    text-align: center;
    & .heading {
      padding-bottom: $spacing-100;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: $spacing-200;
    color: $neutral-500;
    align-items: center;
    text-align: center;
  }

  &[data-color="white"] {
    background-color: $neutral-0;

    @include respond(tablet) {
      box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.25);
    }
  }

  &[data-color="blue"] {
    background-color: $blue-500;

    & :is(.card__details, .card__price, .card__plan) {
      color: $neutral-0;
    }
  }
}

@container card-container ( 504px < width <= 689px) {
  // Need to explore here.
  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;

    padding: $spacing-600;
    //    padding: clamp($spacing-500, 8cqw, $spacing-600)
    //   clamp($spacing-300, 4cqw, $spacing-600);
    // height: fit-content;

    &__plan {
      width: 100%;
      text-align: left;
      padding-bottom: $spacing-200;
    }

    &__price {
      text-align: left;
      width: 50%;
      padding-bottom: $spacing-300;
    }
    &__details {
      transform: translateY(25px);
      text-align: left;
      align-items: flex-start;
      width: 50%;
    }
  }
}
