.card {
  container-type: normal !important;
  container-name: pricing-card !important;

  display: flex;
  flex: 1 0 0;
  flex-direction: column;

  gap: $spacing-500;
  align-items: center;
  padding: $spacing-500 $spacing-250;
  border-radius: $radius-12;

  //   border: 1px solid lightgray;

  color: $neutral-800;

  @include respond(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;

    padding: $spacing-600;
  }

  &__plan {
    width: 100%;
    text-align: center;

    @include respond(tablet) {
      text-align: left;
    }
  }

  &__price {
    text-align: center;

    @include respond(tablet) {
      text-align: left;
      width: 50%;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: $spacing-200;
    color: $neutral-500;
    align-items: center;
    text-align: center;

    @include respond(tablet) {
      text-align: left;
      align-items: flex-start;
      width: 50%;
    }
  }

  &[data-color="white"] {
    background-color: $neutral-0;

    @include respond(tablet) {
      box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.25);
    }
  }

  &[data-color="blue"] {
    background-color: $blue-500;
    // color: $neutral-0;

    & :is(.card__details, .card__price, .card__plan) {
      color: $neutral-0;
    }
  }
}

// @container pricing-card (width > 350px) {
//   .card {
//     border: 3px solid red !important;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     gap: 0;

//     padding: $spacing-600;
//     height: fit-content;

//     &__plan {
//       width: 100%;
//       text-align: left;
//     }

//     &__price {
//       text-align: left;
//       width: 50%;
//     }
//     &__details {
//       text-align: left;
//       align-items: flex-start;
//       width: 50%;
//     }
//   }
// }
