.card {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;

  gap: $spacing-500;
  align-items: center;
  padding: $spacing-500 $spacing-250;
  border-radius: $radius-12;

  border: 1px solid lightgray;

  &__plan {
    width: 100%;
    text-align: center;
    color: $neutral-800;
  }

  &__price {
    text-align: center;
    color: $neutral-800;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: $spacing-200;
    color: $neutral-500;
    align-items: center;
  }

  &[data-color="white"] {
    background-color: $neutral-0;
  }

  &[data-color="blue"] {
    background-color: $blue-500;
    color: $neutral-0;

    & :is(.card__details, .card__price, .card__plan) {
      color: $neutral-0;
    }
  }
}
