.countdown {
  & :is(.upper-text) {
    width: 100%;
    text-align: left;

    @include respond(tablet) {
      text-align: center;
    }
  }

  &__container {
    display: flex;
    gap: $spacing-200;
    padding-top: $spacing-150;

    @include respond(tablet) {
      padding-top: $spacing-200;
      padding-bottom: $spacing-600;
    }
  }
  &__timer-card {
    background-color: $neutral-800;
    border-radius: $radius-12;

    display: flex;
    flex-direction: column;

    align-items: center;
    gap: $spacing-050;

    width: 100px;
    padding: $spacing-200 $spacing-150;

    & :is(.label) {
      opacity: 0.5;
    }

    @include respond(xl-phone) {
      width: 74px;

      & :is(.heading) {
        font-size: 4rem;
      }
    }
  }
}
