.form {
  width: 100%;
  height: 489px; //Just used temporarily

  border-radius: $radius-12;
  padding: $spacing-500;
  box-shadow: 0px 50px 50px -25px #4b5c9a29;

  background-color: $neutral-0;

  display: flex;
  flex-direction: column;
  gap: $spacing-300;

  &__input {
    font-size: $default-font-size;
    padding: 0 $spacing-200 $spacing-200;
    height: 45px;
    border: none;
    border-bottom: 1px solid rgb(116, 123, 149, 0.5);
    cursor: pointer;
    position: relative;

    &:hover {
      border-bottom: 1px solid $blue-500;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px $neutral-0, 0 0 0 5px $blue-500;
    }
  }

  & select {
    display: none;
  }

  &__select {
    font-weight: 700;
    color: $neutral-800;
    & span {
      color: rgb(51, 57, 80, 0.4);
      padding-left: $spacing-125;
    }

    &::after {
      content: url(../assets/sign-up/icon-arrow-down.svg);
      //   background-image: url(../assets/sign-up/icon-arrow-down.svg);
      background-size: cover;
      position: absolute;
      width: 50px;
      height: 50px;
      right: 0;
      top: 0;
    }

    &-dropdown {
      position: absolute;
      top: 102%;
      width: 100%;
      z-index: 2;

      padding: $spacing-200;
      border-radius: $radius-12;
      margin-left: -$spacing-200;

      background-color: $neutral-0;
      box-shadow: 0px 15px 15px 10px #4b5c9a29;

      display: flex;
      flex-direction: column;

      opacity: 0;
      transform: translateY(-10px);
      transition: 0.6s ease;

      &.show {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &--option {
      padding: $spacing-100;

      &:hover {
        background-color: $blue-100;
        border-radius: $radius-8;
      }
    }
  }
}
