.hero {
  container-name: hero;
  container-type: normal;

  &__left {
    display: flex;
    flex-direction: column;
    gap: $spacing-300;

    width: 50%;
    max-width: 540px;
    min-width: 345px;

    // border: 1px solid red;
  }

  &__title {
    color: $neutral-900;
    font-size: clamp(4rem, 5cqw, 5.6rem);
  }

  &__sub-title {
    color: $neutral-500;
    font-size: clamp(1.6rem, 2cqw, 1.8rem);
  }

  &__right {
    // border: 1px solid red;
    width: 42%;
    min-width: 280px;
    max-width: 475px;
  }

  &__image {
    width: 100%;
    height: auto;

    transform: translateY(2.5vw);
  }
}
