.hero {
  @include maxWidths;
  @include paddingSpacing;

  display: flex;
  justify-content: space-between;
  align-items: center;
  // gap: $spacing-300;

  &__left {
    display: flex;
    flex-direction: column;
    gap: $spacing-300;

    max-width: 50%;
  }

  &__right {
    max-width: 40%;
  }

  &__image {
    width: 100%;
    max-width: 475px;
    height: auto;

    transform: translateY(clamp(10px, 5vw, 50px));
  }
}
