*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Default browser font size is 16px. This gives you 10px baseline, making it easier to calculate rems*/
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  width: 100%;
  // max-width: 1440px;

  height: 1698px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-1800;
  padding-top: $spacing-1000;

  background-image: url(../assets/home/bg-pattern-header.svg);
  background-repeat: no-repeat;
  background-position: 650px -395px;
}
