.home-page {
  //Insert styling
  background-color: $neutral-40;
  .logo {
    display: block;
    //   width: 100%;
    //   max-width: 1100px;
  }

  .main {
    width: 100vw;
    // max-width: 1440px;

    // height: 1698px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-1800;
    padding-top: $spacing-1000;
    margin-bottom: -485px;
    // background-color: $neutral-40;

    position: relative;
    overflow: hidden;
    // z-index: -1;

    &::after {
      content: "";
      position: absolute;
      width: clamp(666px, calc(666px + 0.69 * (100vw - 768px)), 1134px);
      height: clamp(666px, calc(666px + 0.69 * (100vw - 768px)), 1134px);
      right: clamp(-359px, calc(-274px - 0.126 * (100vw - 768px)), -274px);
      top: clamp(-420px, calc(-158px - 0.39 * (100vw - 768px)), -158px);

      background: url(../assets/home/bg-pattern-header.svg);
      background-size: cover;
      z-index: -1;
    }
  }

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: $spacing-300;
  }

  .pricing {
    display: flex;
    flex-direction: column;
    gap: $spacing-1000;

    @include respond(tablet) {
      gap: $spacing-1200;
    }

    &__card-container {
      container-type: inline-size;
      container-name: card-container;

      display: flex;
      flex-wrap: wrap;
      gap: $spacing-400;

      @include respond(tablet) {
        flex-direction: column;
        gap: $spacing-250;
      }
    }
  }

  .countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .footer {
    width: 100vw;
    height: 603px;
    background-color: $neutral-900;

    overflow: hidden;
    position: relative;
    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      width: 2036px;
      height: 2036px;

      left: -700px;
      bottom: -830px;

      background: url(../assets/home/bg-pattern-footer.svg);
      // background-size: cover;
      // z-index: -1;
    }
  }
}
