.signup {
  background-color: $neutral-40;

  .main {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-1800;
    padding-top: $spacing-1000;
    // margin-bottom: -485px;

    position: relative;
    overflow: hidden;
    // z-index: -1;

    transition: padding 0.3s ease, gap 0.3s ease;
  }

  .accent__background {
    background-color: $neutral-900;

    position: absolute;
    right: 0;
    top: 0;

    width: calc(420 / 1440) * 100vw;
    height: 100%;
    z-index: -1;

    &::after {
      content: "";
      background: url(../assets/sign-up/bg-pattern-side.svg);
      background-size: cover;

      position: absolute;
      width: 2036px;
      height: 2036px;
      top: -820px;
      right: -790px;

      overflow: hidden;
    }
  }
}
