.signup {
  background-color: $neutral-40;

  .main {
    width: 100vw;
    height: 100%;
    min-height: 980px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-1800;
    padding-top: $spacing-1000;
    // margin-bottom: -485px;

    position: relative;
    overflow: hidden;
    // z-index: -1;

    transition: padding 0.3s ease, gap 0.3s ease;
  }

  .accent__background {
    background-color: $neutral-900;

    position: absolute;
    right: 0;
    top: 0;

    width: calc(420 / 1440) * 100vw;
    height: 100%;
    z-index: -1;

    &::after {
      content: "";
      background: url(../assets/sign-up/bg-pattern-side.svg);
      background-size: cover;

      position: absolute;
      width: 2036px;
      height: 2036px;
      top: -820px;
      right: -790px;

      overflow: hidden;

      transition: top 0.3s ease, right 0.3s ease;

      @include respond(tablet) {
        width: 1454px;
        height: 1454px;

        top: -440px;
        right: -340px;
      }

      @include respond(xl-phone) {
        width: 1454px;
        height: 1454px;

        top: -550px;
        right: -435px;
      }

      @include respond(phone) {
        right: -540px;
      }
    }

    @include respond(xl-phone) {
      transition: top 0.5s ease;
      top: 880px !important;
    }

    @include respond(phone) {
      top: 970px !important;
    }
  }

  @container main ( max-width: 900px) {
    .logo {
      align-items: center;
    }
    .hero {
      display: flex;
      flex-direction: column;
      gap: $spacing-150;
      margin-top: -60px;
      margin-bottom: 120px;

      &__left {
        display: flex;
        flex-direction: column;
        gap: $spacing-300;

        width: 100%;
        align-items: center;
        text-align: center;
      }

      &__right {
        width: 100%;
      }
    }

    .accent__background {
      position: absolute;
      right: 0;
      top: 780px;

      width: 100%;
      height: 100%;
    }

    .countdown {
      justify-content: center;
      padding-top: calc($spacing-500 - $spacing-300);
      padding-bottom: $spacing-1000;
    }

    .upper-text {
      text-align: center;
    }
  }
}
