.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // gap: $spacing-300;
}

.countdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include respond(tablet) {
    flex-direction: column;
  }
}
